Source: fit-aligner
Maintainer: Nikita Maslov <n.maslov@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), pkg-config, g++, libfdt-dev

Package: fit-aligner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfdt1
Description: A tool to align property blobs in FIT images to improve
    U-boot performance on partial loading
